apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-filebrowser-pv
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-static
  nfs:
    server: 172.16.16.91
    path: /volume/f72a1a74-f3ab-46af-8bd9-d97aaa05e733/.srv/.unifi-drive/immich/.data
