apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nvidia-device-plugin
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://nvidia.github.io/gpu-operator
    chart: gpu-operator
    targetRevision: v24.9.2
    helm:
      values: |
        operator:
          defaultRuntime: containerd
        driver:
          # Drivers are provided by Talos extension
          enabled: false
        toolkit:
          # Toolkit is provided by Talos extension
          enabled: false
        devicePlugin:
          enabled: true
        dcgm:
          enabled: false
        dcgmExporter:
          enabled: false
        gfd:
          enabled: true
        migManager:
          enabled: false
        nodeStatusExporter:
          enabled: false
        mig:
          strategy: single
        validator:
          driver:
            env:
              - name: DISABLE_DEV_CHAR_SYMLINK_CREATION
                value: "true"
        node-feature-discovery:
          worker:
            tolerations:
              - key: "node-role.kubernetes.io/master"
                operator: "Equal"
                value: ""
                effect: "NoSchedule"
              - key: nvidia.com/gpu
                operator: Exists
                effect: NoSchedule
  destination:
    server: https://kubernetes.default.svc
    namespace: gpu-operator
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
