---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-keyvault
  namespace: homepage
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: argocd-keyvault
    creationPolicy: Owner
  data:
    - secretKey: key
      remoteRef:
        key: homepage-argocd-key
    - secretKey: username
      remoteRef:
        key: homepage-argocd-username
