---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: filebrowser-keyvault
  namespace: homepage
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: filebrowser-keyvault
    creationPolicy: Owner
  data:
    - secretKey: USERNAME
      remoteRef:
        key: filebrowser-username
    - secretKey: PASSWORD
      remoteRef:
        key: filebrowser-password
