apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: octoprint
  namespace: 3dprint
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-static
  resources:
    requests:
      storage: 5Gi
