---
apiVersion: v1
kind: ConfigMap
metadata:
  name: buildarr-config
  namespace: media-stack
data:
  buildarr.yml: |
    buildarr:
      watch_config: false
      update_days:
        - monday
        - tuesday
        - wednesday
        - thursday
        - friday
        - saturday
        - sunday
      update_times:
        - 03:00

    # Buildarr manages auth, download clients, root folders for all *arr apps
    # Configarr manages quality profiles and custom formats (TRaSH guides)

    sonarr:
      hostname: sonarr.media-stack.svc
      port: 8989
      protocol: http
      api_key: ${SONARR_API_KEY}
      settings:
        general:
          security:
            authentication: form
            authentication_required: enabled
            username: ${SONARR_USERNAME}
            password: ${SONARR_PASSWORD}
        media_management:
          root_folders:
            - /tv
        download_clients:
          definitions:
            SABnzbd:
              type: sabnzbd
              enable: true
              priority: 1
              remove_completed_downloads: true
              remove_failed_downloads: true
              host: sabnzbd.media-stack.svc
              port: 8080
              use_ssl: false
              api_key: ${SABNZBD_API_KEY}
              category: tv

    radarr:
      hostname: radarr.media-stack.svc
      port: 7878
      protocol: http
      api_key: ${RADARR_API_KEY}
      settings:
        general:
          security:
            authentication: form
            authentication_required: enabled
            username: ${RADARR_USERNAME}
            password: ${RADARR_PASSWORD}
        media_management:
          root_folders:
            - /movies
        download_clients:
          definitions:
            SABnzbd:
              type: sabnzbd
              enable: true
              priority: 1
              remove_completed_downloads: true
              remove_failed_downloads: true
              hostname: sabnzbd.media-stack.svc
              port: 8080
              use_ssl: false
              api_key: ${SABNZBD_API_KEY}
              category: movies

    prowlarr:
      hostname: prowlarr.media-stack.svc
      port: 9696
      protocol: http
      api_key: ${PROWLARR_API_KEY}
      settings:
        general:
          security:
            authentication: form
            authentication_required: enabled
            username: ${PROWLARR_USERNAME}
            password: ${PROWLARR_PASSWORD}
        indexers:
          definitions:
            NZBgeek:
              type: newznab
              enable: true
              sync_profile: Standard
              redirect: true
              priority: 25
              fields:
                baseUrl: https://api.nzbgeek.info
                apiPath: /api
                apiKey: ${NZBGEEK_API_KEY}
                vipExpiration: ""
              tags: []
        apps:
          definitions:
            Radarr:
              type: radarr
              prowlarr_url: "http://prowlarr.media-stack.svc:9696"
              base_url: "http://radarr.media-stack.svc:7878"
              api_key: "${RADARR_API_KEY}"
              sync_level: full-sync
              sync_categories:
                - Movies/Foreign
                - Movies/Other
                - Movies/SD
                - Movies/HD
                - Movies/UHD
                - Movies/BluRay
                - Movies/3D
                - Movies/DVD
                - Movies/WEB-DL
              tags: []
            Sonarr:
              type: sonarr
              prowlarr_url: "http://prowlarr.media-stack.svc:9696"
              base_url: "http://sonarr.media-stack.svc:8989"
              api_key: "${SONARR_API_KEY}"
              sync_level: full-sync
              sync_categories:
                - TV/WEB-DL
                - TV/Foreign
                - TV/SD
                - TV/HD
                - TV/UHD
                - TV/Other
                - TV/Sport
                - TV/Anime
                - TV/Documentary
              tags: []
        download_clients:
          definitions:
            SABnzbd:
              type: sabnzbd
              enable: true
              priority: 1
              remove_completed_downloads: true
              remove_failed_downloads: true
              host: sabnzbd.media-stack.svc
              port: 8080
              use_ssl: false
              api_key: ${SABNZBD_API_KEY}
              category: prowlarr
              tags: []
