---
# Config storage for Plex
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-config
  namespace: media-stack
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 10Gi
