apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    chart: app-template
    repoURL: https://bjw-s.github.io/helm-charts
    targetRevision: 3.0.4
    helm:
      values: |
        controllers:
          immich:
            containers:
              app:
                image:
                  repository: ghcr.io/immich-app/immich-server
                  tag: v1.117.0
                env:
                  DB_HOSTNAME: postgresql-rw.postgres.svc
                  DB_PORT: "5432"
                  DB_DATABASE_NAME: immich
                  DB_USERNAME:
                    valueFrom:
                      secretKeyRef:
                        name: immich-db-credentials
                        key: username
                  DB_PASSWORD:
                    valueFrom:
                      secretKeyRef:
                        name: immich-db-credentials
                        key: password
                  REDIS_HOSTNAME: immich-redis

        service:
          app:
            controller: immich
            ports:
              http:
                port: 3001

        ingress:
          app:
            enabled: true
            className: traefik
            hosts:
              - host: immich.torsteinbo.net
                paths:
                  - path: /
                    pathType: Prefix
                    service:
                      identifier: app
                      port: http

        persistence:
          library:
            enabled: true
            existingClaim: immich-library
            globalMounts:
              - path: /usr/src/app/upload

  destination:
    server: https://kubernetes.default.svc
    namespace: immich

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
