---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: configarr-repos
  namespace: media-stack
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
