---
apiVersion: v1
kind: Service
metadata:
  name: deluge
  namespace: media-stack
spec:
  selector:
    app: deluge
  ports:
    - name: http
      protocol: TCP
      port: 8112
      targetPort: 8112
    - name: daemon
      protocol: TCP
      port: 58846
      targetPort: 58846
  type: ClusterIP
