apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-authentik-secret
  namespace: argocd
spec:
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: argocd-secret
    creationPolicy: Merge
    template:
      type: Opaque
      data:
        # Native OIDC client secret (base64 encoded by ExternalSecrets)
        oidc.authentik.clientSecret: "{{ .clientSecret }}"
  data:
    - secretKey: clientSecret
      remoteRef:
        key: argocd-auth-client-secret
