apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bambustudio-data
  namespace: bambustudio
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-static
  resources:
    requests:
      storage: 10Gi
