apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: proxmox-secrets
  namespace: external-secrets
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: proxmox-secrets
    creationPolicy: Owner
  data:
    - secretKey: proxmox-api-url
      remoteRef:
        key: proxmox-api-url
