apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: proxmox-keyvault
  namespace: external-secrets
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name:  proxmox-keyvault
    creationPolicy: Owner
  data:
    - secretKey: PROXMOX_API_URL
      remoteRef:
        key: proxmox-api-url
    - secretKey: PROXMOX_API_TOKEN_ID
      remoteRef:
        key: proxmox-api-token-id
    - secretKey: PROXMOX_API_TOKEN_SECRET
      remoteRef:
        key: proxmox-api-token-secret
    - secretKey: PROXMOX_ROOT_PASSWORD
      remoteRef:
        key: proxmox-root-password

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-keyvault
  namespace: homepage
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: argocd-keyvault
    creationPolicy: Owner
  data:
    - secretKey: key
      remoteRef:
        key: homepage-argocd-key
    - secretKey: username
      remoteRef:
        key: homepage-argocd-username
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: filebrowser-keyvault
  namespace: homepage
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name:  filebrowser-keyvault
    creationPolicy: Owner
  data:
    - secretKey: USERNAME
      remoteRef:
        key: filebrowser-username
    - secretKey: PASSWORD
      remoteRef:
        key: filebrowser-password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich-user
  namespace: postgres
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: immich-user
    creationPolicy: Owner
  data:
    - secretKey: USERNAME
      remoteRef:
        key: postgres-immich-username
    - secretKey: PASSWORD
      remoteRef:
        key: postgres-immich-password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: karakeep-keyvault
  namespace: karakeep
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: karakeep-keyvault
    creationPolicy: Owner
  data:
    - secretKey: NEXTAUTH_SECRET
      remoteRef:
        key: karakeep-nextauth-secret
    - secretKey: OPENAI_API_KEY
      remoteRef:
        key: karakeep-openai-api-key
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich-db-credentials
  namespace: immich
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: immich-db-credentials
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: immich-db-username
    - secretKey: password
      remoteRef:
        key: immich-db-password
    - secretKey: DB_HOSTNAME
      remoteRef:
        key: immich-db-hostname
    - secretKey: DB_PORT
      remoteRef:
        key: immich-db-port
    - secretKey: DB_DATABASE_NAME
      remoteRef:
        key: immich-db-name
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: longhorn-backup-smb
  namespace: longhorn-system
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: longhorn-backup-smb
    creationPolicy: Owner
  data:
    - secretKey: CIFS_USERNAME
      remoteRef:
        key: longhorn-smb-username
    - secretKey: CIFS_PASSWORD
      remoteRef:
        key: longhorn-smb-password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mediamanager-credentials
  namespace: postgres
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: mediamanager-credentials
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: mediamanager-user
    - secretKey: password
      remoteRef:
        key: mediamanager-password
    - secretKey: db_hostname
      remoteRef:
        key: mediamanager-db-hostname
    - secretKey: db_port
      remoteRef:
        key: mediamanager-db-port
    - secretKey: db_name
      remoteRef:
        key: mediamanager-db-name