---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: proxmox-keyvault
  namespace: external-secrets
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: proxmox-keyvault
    creationPolicy: Owner
  data:
    - secretKey: PROXMOX_API_URL
      remoteRef:
        key: proxmox-api-url
    - secretKey: PROXMOX_API_TOKEN_ID
      remoteRef:
        key: proxmox-api-token-id
    - secretKey: PROXMOX_API_TOKEN_SECRET
      remoteRef:
        key: proxmox-api-token-secret
    - secretKey: PROXMOX_ROOT_PASSWORD
      remoteRef:
        key: proxmox-root-password
