---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich-db-credentials
  namespace: immich
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-keyvault
    kind: ClusterSecretStore
  target:
    name: immich-db-credentials
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: immich-db-username
    - secretKey: password
      remoteRef:
        key: immich-db-password
    - secretKey: DB_HOSTNAME
      remoteRef:
        key: immich-db-hostname
    - secretKey: DB_PORT
      remoteRef:
        key: immich-db-port
    - secretKey: DB_DATABASE_NAME
      remoteRef:
        key: immich-db-name
