apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-blueprints
  namespace: authentik
  labels:
    app.kubernetes.io/name: authentik
  annotations:
    argocd.argoproj.io/sync-wave: "-4"
data:
  default-flows.yaml: |
    version: 1
    metadata:
      name: Default Flows
      labels:
        blueprints.goauthentik.io/description: "Default authentication and enrollment flows"
    entries:
      - model: authentik_flows.flow
        identifiers:
          slug: default-source-authentication
        attrs:
          name: Default Authentication Flow
      - model: authentik_flows.flow
        identifiers:
          slug: default-source-enrollment
        attrs:
          name: Default Enrollment Flow

  entra-id.yaml: |
    version: 1
    metadata:
      name: Entra ID OAuth Source
      labels:
        blueprints.goauthentik.io/description: "Microsoft Entra ID OIDC authentication source"
    entries:
      - model: authentik_sources_oauth.oauthsource
        identifiers:
          slug: entra-id
        attrs:
          name: Microsoft Entra ID
          enabled: true
          authentication_flow: !Find [authentik_flows.flow, [slug, default-source-authentication]]
          enrollment_flow: !Find [authentik_flows.flow, [slug, default-source-enrollment]]
          user_matching_mode: email_link
          provider_type: openidconnect
          consumer_key: !Env ENTRA_CLIENT_ID
          consumer_secret: !Env ENTRA_CLIENT_SECRET
          authorization_url: !Format ["https://login.microsoftonline.com/%s/oauth2/v2.0/authorize", !Env ENTRA_TENANT_ID]
          access_token_url: !Format ["https://login.microsoftonline.com/%s/oauth2/v2.0/token", !Env ENTRA_TENANT_ID]
          profile_url: https://graph.microsoft.com/v1.0/me
          oidc_well_known_url: !Format ["https://login.microsoftonline.com/%s/v2.0/.well-known/openid-configuration", !Env ENTRA_TENANT_ID]
          oidc_jwks_url: !Format ["https://login.microsoftonline.com/%s/discovery/v2.0/keys", !Env ENTRA_TENANT_ID]
          additional_scopes: "openid profile email User.Read"
      
      - model: authentik_stages_identification.identificationstage
        identifiers:
          name: default-authentication-identification
        id: default-authentication-identification
        attrs:
          user_fields:
            - email
            - username
          sources:
            - !Find [authentik_sources_oauth.oauthsource, [slug, entra-id]]

