---
apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-blueprints
  namespace: authentik
  labels:
    app.kubernetes.io/name: authentik
data:
  entra-id-source.yaml: |
    # yaml-language-server: $schema=https://goauthentik.io/blueprints/schema.json
    version: 1
    metadata:
      name: Entra ID OAuth Source
      labels:
        blueprints.goauthentik.io/description: "Microsoft Entra ID OIDC authentication source"
        app.kubernetes.io/managed-by: argocd
    entries:
      - model: authentik_sources_oauth.oauthsource
        state: present
        identifiers:
          slug: entra-id
        attrs:
          name: Microsoft Entra ID
          enabled: true

          authentication_flow: !Find [authentik_flows.flow, [slug, default-source-authentication]]
          enrollment_flow: !Find [authentik_flows.flow, [slug, default-source-enrollment]]

          user_matching_mode: email_link
          group_matching_mode: name

          provider_type: entra-id

          consumer_key: !Env ENTRA_CLIENT_ID
          consumer_secret: !Env ENTRA_CLIENT_SECRET

          scope: openid profile email

          authorization_url: !Format ["https://login.microsoftonline.com/%s/oauth2/v2.0/authorize", !Env ENTRA_TENANT_ID]
          access_token_url: !Format ["https://login.microsoftonline.com/%s/oauth2/v2.0/token", !Env ENTRA_TENANT_ID]
          profile_url: https://graph.microsoft.com/v1.0/me
          oidc_jwks_url: !Format ["https://login.microsoftonline.com/%s/discovery/v2.0/keys", !Env ENTRA_TENANT_ID]
