---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: authentik-tls
  namespace: authentik
spec:
  secretName: authentik-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - auth.torsteinbo.net
    - authentik.torsteinbo.net
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: authentik
  namespace: authentik
spec:
  entryPoints:
    - web
    - websecure
  tls:
    secretName: authentik-tls
  routes:
    - match: Host(`auth.torsteinbo.net`) || Host(`authentik.torsteinbo.net`)
      kind: Rule
      services:
        - name: authentik-server
          port: 80
      middlewares:
        - name: set-https-header
