apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: netbird-management-grpc
  namespace: netbird
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`api-netbird.torsteinbo.net`)
      kind: Rule
      services:
        - name: netbird-management
          port: 33073
          scheme: h2c
  tls: {}
