---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: netbird-management
  namespace: netbird
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`netbird.torsteinbo.net`)
      services:
        - name: netbird-management
          port: 80
  tls:
    certResolver: letsencrypt
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: netbird-grpc
  namespace: netbird
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`netbird.torsteinbo.net`) && PathPrefix(`/management.ManagementService`)
      services:
        - name: netbird-management
          port: 33073
          scheme: h2c
  tls:
    certResolver: letsencrypt
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: netbird-signal
  namespace: netbird
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`netbird.torsteinbo.net`) && PathPrefix(`/signalexchange.SignalExchange`)
      services:
        - name: netbird-signal
          port: 10000
          scheme: h2c
  tls:
    certResolver: letsencrypt
