apiVersion: v1
kind: ConfigMap
metadata:
  name: netbird-management-config
  namespace: netbird
data:
  management.json: |
    {
      "Domain": "netbird.torsteinbo.net",
      "Stuns": [
        {
          "Proto": "udp",
          "URI": "stun:netbird.torsteinbo.net:3478"
        }
      ],
      "TURNConfig": {
        "TimeBasedCredentials": false,
        "CredentialsTTL": "12h0m0s",
        "Secret": "{{ .NETBIRD_TURN_SECRET }}",
        "Turns": [
          {
            "Proto": "udp",
            "URI": "turn:netbird.torsteinbo.net:3478",
            "Username": "netbird",
            "Password": "{{ .NETBIRD_TURN_SECRET }}"
          }
        ]
      },
      "Signal": {
        "Proto": "https",
        "URI": "netbird.torsteinbo.net:443"
      },
      "Datadir": "/var/lib/netbird",
      "DataStoreEncryptionKey": "{{ .NETBIRD_DATASTORE_ENC_KEY }}",
      "StoreConfig": {
        "Engine": "postgres"
      },
      "IdpManagerConfig": {
        "ManagerType": "authentik",
        "ClientID": "{{ .NETBIRD_IDP_MGMT_CLIENT_ID }}",
        "ClientSecret": "{{ .NETBIRD_IDP_MGMT_CLIENT_SECRET }}",
        "Issuer": "{{ .NETBIRD_IDP_MGMT_EXTRA_ISSUER }}",
        "TokenEndpoint": "https://auth.torsteinbo.net/application/o/token/",
        "GrantType": "client_credentials",
        "ExtraConfig": {
          "Username": "{{ .NETBIRD_IDP_MGMT_EXTRA_USERNAME }}",
          "Password": "{{ .NETBIRD_IDP_MGMT_EXTRA_PASSWORD }}"
        }
      },
      "Grpc": {},
      "Log": {
        "Level": "info",
        "File": "console"
      }
    }
