apiVersion: v1
kind: ConfigMap
metadata:
  name: netbird-management-config
  namespace: netbird
data:
  management.json: |
    {
      "Domain": "netbird.torsteinbo.net",
      "HttpConfig": {},
      "Signal": {},
      "Grpc": {},
      "Log": {
        "Level": "info",
        "File": "console"
      }
    }
