apiVersion: v1
kind: ConfigMap
metadata:
  name: netbird-management-config
  namespace: netbird
data:
  management.json: |
    {
      "Domain": "netbird.torsteinbo.net",
      "HttpConfig": {
        "AuthAudience": "netbird",
        "AuthIssuer": "https://auth.torsteinbo.net/application/o/netbird/",
        "AuthKeysLocation": "https://auth.torsteinbo.net/application/o/netbird/jwks/",
        "OIDCConfigEndpoint": "https://auth.torsteinbo.net/application/o/netbird/.well-known/openid-configuration"
      },
      "IdpManagerConfig": {
        "ManagerType": "authentik",
        "ClientConfig": {
          "Issuer": "https://auth.torsteinbo.net/application/o/netbird/",
          "TokenEndpoint": "https://auth.torsteinbo.net/application/o/token/",
          "ClientID": "netbird",
          "ClientSecret": "",
          "GrantType": "client_credentials"
        }
      },
      "PKCEAuthorizationFlow": {
        "ProviderConfig": {
          "ClientID": "netbird",
          "ClientSecret": "",
          "Domain": "https://auth.torsteinbo.net/application/o/netbird/",
          "Audience": "netbird",
          "TokenEndpoint": "https://auth.torsteinbo.net/application/o/token/",
          "AuthorizationEndpoint": "https://auth.torsteinbo.net/application/o/authorize/",
          "Scope": "openid profile email offline_access",
          "RedirectURLs": ["http://localhost:53000"]
        }
      },
      "DeviceAuthorizationFlow": {
        "Provider": "hosted",
        "ProviderConfig": {
          "ClientID": "netbird",
          "Domain": "auth.torsteinbo.net",
          "Audience": "netbird",
          "TokenEndpoint": "https://auth.torsteinbo.net/application/o/token/",
          "DeviceAuthEndpoint": "https://auth.torsteinbo.net/application/o/device/",
          "Scope": "openid profile email offline_access"
        }
      },
      "Signal": {},
      "Grpc": {},
      "Log": {
        "Level": "info",
        "File": "console"
      }
    }
