apiVersion: v1
kind: ConfigMap
metadata:
  name: netbird-management-config
  namespace: netbird
data:
  management.json: |
    {
      "Domain": "netbird.torsteinbo.net",
      "Stuns": [
        {
          "Proto": "udp",
          "URI": "stun:netbird.torsteinbo.net:3478"
        }
      ],
      "TURNConfig": {
        "TimeBasedCredentials": false,
        "CredentialsTTL": "12h0m0s",
        "Secret": "{{ .NETBIRD_TURN_SECRET }}",
        "Turns": [
          {
            "Proto": "udp",
            "URI": "turn:netbird.torsteinbo.net:3478",
            "Username": "netbird",
            "Password": "{{ .NETBIRD_TURN_SECRET }}"
          }
        ]
      },
      "Signal": {
        "Proto": "https",
        "URI": "netbird.torsteinbo.net:443"
      },
      "Datadir": "/var/lib/netbird",
      "DataStoreEncryptionKey": "{{ .NETBIRD_DATASTORE_ENC_KEY }}",
      "StoreConfig": {
        "Engine": "postgres"
      },
      "EmbeddedIdP": {
        "Enabled": true,
        "Issuer": "https://netbird.torsteinbo.net",
        "LocalAddress": "127.0.0.1:80",
        "DataDir": "/var/lib/netbird/idp"
      },
      "Grpc": {},
      "Log": {
        "Level": "info",
        "File": "console"
      }
    }
