apiVersion: v1
kind: Service
metadata:
  name: netbird-management-external
  namespace: netbird
  annotations:
    metallb.universe.tf/allow-shared-ip: "netbird"
spec:
  type: LoadBalancer
  selector:
    app: netbird-management
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
